::root{
    --texte : #0e0c08 ;
    --arrière-plan: #faf8f4;
    --primaire : #c0a458 ;
    --secondaire : #dfca8f ;
    --accent: #e0bf66;
}
/* Réinitialisation des marges et padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #faf8f4;


}
.logo{
    width: 3%;
}
/* Navbar */
.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.custom-navbar {
    background-color: #c0a458; /* Vert sauge clair */
    font-family: 'Lato', sans-serif; /* Utilisation de la police Montserrat */
    font-size: 1.8em;
}

.custom-navbar .navbar-brand {

    font-weight: 700;
}

.custom-navbar .navbar-toggler-icon {
    background-color: white; /* Couleur de l'icône burger en blanc */
}

.custom-navbar .nav-link {
    color: #0e0c08 !important; /* Liens blancs */
    font-weight: 500;
    font-size: 16px;
}

.custom-navbar .nav-link:hover {
    color: #dfca8f !important; /* Jaune moutarde au survol */
    transition: color 0.3s;
}

.custom-navbar .nav-link.active {
    color: #dfca8f !important; /* Jaune moutarde pour le lien actif */
}

.custom-navbar .navbar-nav .nav-item:not(:last-child) {
    margin-right: 20px;
}

/* Styles du formulaire de recherche */
.custom-search {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-btn {
    background-color: #dfca8f; /* Jaune moutarde */
    color: #0e0c08;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #e0bf66; /* Orange clair au survol */
}

/* Boutons Connexion et Inscription */
.auth-links button {
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 15px;
    transition: all 0.3s;
}

.custom-login-btn {
    background-color: #dfca8f ;
    color: #0e0c08;
}

.custom-login-btn:hover {
    background-color: transparent;
    color: black;
}

.custom-signup-btn {
    background-color: #dfca8f   ; /* Jaune moutarde */
    color: #0e0c08;
}

.custom-signup-btn:hover {
    background-color: transparent;
    color: black;
}


/* Modals */
.modal-header {
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.btn-primary {
    background-color: #89A894;
    border: none;
}

.btn-primary:hover {
    background-color: #dfca8f ;
}

.hero{
    background: linear-gradient(to left, #c0a458, #dfca8f);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 19%;
    padding-top: 20%;
}
h1{
    font-size: 4.2rem;
}
p{
 font-size: 1.4rem;
}
button{
    background-color: black;
    color: white;
    font-size: 1.8em;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.img{
    min-height: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.pad{
    padding-top: 3%;
}
h2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.der{
    margin-top: 5%;
}
.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color); /* Couleur de fond */
    color: white; /* Couleur des flèches */
    border: none;
    border-radius: 50%; /* Cercle */
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -5px; /* Distance du bord gauche */
}

.owl-carousel .owl-nav button.owl-next {
    right: -5px; /* Distance du bord droit */
}
.owl-carousel .img{
    transition: transform 0.3s ease;

}
.img:hover{
    transform: scale(1.1);
}
.owl-carousel .owl-nav button:focus {
    outline: none; /* Supprimer le focus par défaut */
}
.fonds {
    margin-top: 10%;
    padding-bottom: 5%;

}

.titre, .titre2 {
    text-align: center;
    margin-bottom: 3%;
}

.jean {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}
a{
    text-decoration: none;
}

.blaze {
    padding: 15px;
    background-color: #faf8f4;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.blaze:hover {
    transform: scale(1.05);
}

.ph {

    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.je {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.dis {
    margin: 5px 0;
    color: grey;

}

.prix {
    color: black;
}

.but {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1em;
    margin-top: 10px;
    color: black;
    background-color: #c0a458;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.but:hover {
    background-color: #e0bf66;
}

/* Media Queries */
@media (max-width: 768px) {
    .titre, .titre2 {
        font-size: 1.5rem;
    }

    .blaze {
        margin: 1% 0;
        padding: 10px;
    }

    .but {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .titre, .titre2 {
        font-size: 1.2rem;
    }

    .je {
        font-size: 1em;
    }

    .but {
        font-size: 0.8em;
    }
}

.newsletter {
    background-color: #f9f9f9; /* Couleur de fond légère */
    padding: 2rem 0;
    font-family: 'Open Sans', sans-serif;
}

.newsletter h2 {
    font-size: 2rem;
    color: #333;

}

.newsletter p {
    color: #666;
    font-size: 1rem;
}

.newsletter .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.75rem;
}

.newsletter .btn-primary {
    background-color: #89A894; /* Couleur primaire */
    border-color: #89A894;
}

.newsletter .btn-primary:hover {
    background-color: #D4A017; /* Couleur de survol */
    border-color: #D4A017;
}



