/* Styles de base */
body {
  background-color: #faf8f4;
  margin: 0;
  padding: 0;
}
.hero {
  height: auto;
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
} /*-----------------------------------------------------------a moi -------------------------------------------------------*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 20px;
}
.carte {
  width: 100%;
  min-height: 2em;
  margin-bottom: 10%;
}
.grid {
  margin-bottom: 20px;
}
.blase {
  margin-left: 2%;
  font-size: 15px;
  color: #565050;
}
.main-content h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}
.photo {
  display: flex;
  margin-bottom: 1%;
  margin-left: 1%;
}
.titre {
  font-size: 12px;
  line-height: 20px;
  margin-top: 1%;
  margin-left: 1%;
  color: #565050;
  width: 100%;
  font-weight: bold;
}
.etat {
  font-size: 12px;
  line-height: 16px;
  color: #565050;
  margin-left: 1%;
  margin-right: 40%;
}
.prix {
  margin-top: 3%;
  margin-left: 1%;
  color: #565050;
  margin-right: 30%;
}
.pp {
  border-radius: 100%;
  width: 13%;
  margin-top: -1%;
}
input[type="checkbox"] {
  display: none;
}
.heart-label {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

input[type="checkbox"]:checked + .heart-label {
  color: red;
}
.coeur {
  display: flex;
}
.bouton {
  border: 2px solid #111;
  border-radius: 3px;
  font-size: 13px;
}
.bouton:hover {
  background-color: #000000;
  color: #fff;
}
.btn {
  display: flex;
}
/*--------------------------------------------------------------------------a moi------------------------------------------------*/
/* Barre latérale des filtres */
.sidebar {
  flex: 1 1 250px;
  max-width: 250px;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #000000;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ffffff;
}

/* Groupes de filtres */
.filter-group {
  margin-bottom: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffffc2;
}

.filter-group select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Bouton de filtre */
button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffffc1;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #010101;
  color: #ffffff;
  border: 2px solid #fff;
}

/* Zone principale des produits */

.product {
  transition: transform 0.3s ease;
}
.product:hover {
  transform: scale(1.03);
}
/* Grille de produits */

/* Carte produit */
.product {
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Image du produit */
.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product:hover .product-image img {
  opacity: 0.8;
}

/* Overlay au survol */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.product:hover .overlay {
  opacity: 1;
}
.breadcrumb {
  margin-top: 1%;
  margin-left: 1%;
}
.view-details {
  background-color: #ffffff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-details:hover {
  background-color: #333;
  color: #fff;
}
.stars {
  color: #9f9a00;
}

/* Informations du produit */
.product-info {
  text-align: left;

  border-radius: 10px;
  background-color: rgb(108, 108, 108);
  color: hsl(0, 0%, 100%);
  padding: 5px 5px 5px 5px;
}

.product-info h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  font-weight: bold;
}

.product-info h3 a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.product-info h3 a:hover {
  color: #e17a56;
}

.product-info .color {
  color: #000000;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.product-info .price {
  font-size: 1.1rem;

  color: #ffffff;
}

/* Message lorsque aucun produit n'est trouvé */
.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  grid-column: 1 / -1;
}

/* Réactivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    max-width: 100%;
    margin-right: 0;
  }

  .main-content {
    flex: 1 1 100%;
  }
}
/* Logo */
.logo {
  width: 40px; /* Taille raisonnable pour la logo sur la navbar */
  margin-right: 10px;
}

/* Navbar */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.custom-navbar {
  background-color: #89a894; /* Vert sauge clair */
  font-family: "lato", sans-serif; /* Utilisation de la police Montserrat */
}

.custom-navbar .navbar-brand {
  color: white;
  font-weight: 700;
}

.custom-navbar .navbar-toggler {
  border: none;
}

.custom-navbar .navbar-toggler-icon {
  background-color: white; /* Couleur de l'icône burger en blanc */
  width: 24px;
  height: 2px;
  position: relative;
}

.custom-navbar .navbar-toggler-icon::before,
.custom-navbar .navbar-toggler-icon::after {
  content: "";
  background-color: white;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.custom-navbar .navbar-toggler-icon::before {
  top: -8px;
}

.custom-navbar .navbar-toggler-icon::after {
  top: 8px;
}

/* Liens de la navbar */
.custom-navbar .nav-link {
  color: white !important; /* Liens blancs */
  font-weight: 500;
  font-size: 16px;
}

.custom-navbar .nav-link:hover {
  color: #d4a017 !important; /* Jaune moutarde au survol */
  transition: color 0.3s;
}

.custom-navbar .nav-link.active {
  color: #d4a017 !important; /* Jaune moutarde pour le lien actif */
}

/* Recherche et Boutons */
.custom-search {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px; /* Limiter la taille pour les petits écrans */
}

.custom-btn {
  background-color: #d4a017; /* Jaune moutarde */
  color: white;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.custom-btn:hover {
  background-color: #e17a56;
  color: #000000; /* Orange clair au survol */
}

/* Boutons Connexion et Inscription */
.auth-links a {
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 15px;
  transition: all 0.3s;
}

.custom-login-btn {
  background-color: #d4a017;
  color: white;
}

.custom-login-btn:hover {
  background-color: #e17a56;
  color: #000000;
}

.custom-signup-btn {
  background-color: #d4a017; /* Jaune moutarde */
  color: white;
}

.custom-signup-btn:hover {
  background-color: #e17a56;
  color: rgb(0, 0, 0);
}

/* Ajustements Responsive */
@media (max-width: 992px) {
  .auth-links {
    text-align: center;
    margin-top: 15px;
  }
  .custom-search,
  .custom-btn {
    margin-top: 10px;
  }
  .navbar-nav .nav-item {
    margin-right: 0; /* Enlever la marge sur petits écrans */
  }
}
/*---------------------------------------------------------------------------Footer-----------------------------------------------------*/
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-section {
  flex: 1 1 300px;
  margin: 10px;
  text-align: left;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fcfcfc;
  font-weight: bold;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #f4c430;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 10px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.social-icons img:hover {
  filter: invert(0.7);
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex: 1 1 100%;
    margin: 20px 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-section h4 {
    font-size: 16px;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .social-icons img {
    width: 20px;
  }
}
